---
layout: default
---

<div class="home">

  {% assign posts = site.posts %}
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% endif %}

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in posts -%}
        {% unless post.categories contains "writeup" %}

        <article>
          <div class="post-box post-box-transition">
            <div class="post-box-header post-box-transition">
              <a class="post-box-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <!--<span> | </span> -->
            </div>

            <div class="post-box-content post-box-transition">
              <div class="post-box-content-wrapper">
                {%- if post.image -%}
                <div class="post-box-thumbnail">
                  <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}"></a>
                </div>
                {%- endif -%}

                {%- if site.show_excerpts -%}
                  <div class="post-box-excerpt">
                    {{ post.excerpt }}
                    <a class="post-box-readmore post-box-transition" href="{{ post.url | relative_url }}">Read More</a>
                  </div>
                {%- endif -%}
              </div>
              
              <!--<div class="post-box-readmore-wrapper">
                <a class="post-box-readmore post-box-transition" href="{{ post.url | relative_url }}">Read More</a>
              </div>-->

              <div class="post-box-footer"> 
                <img src="/assets/icons/svg/calendar.svg" class="icon">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-box-date">{{ post.date | date: date_format }}</span>
              </div>
            </div>

            

          </div>
        </article>
        {% endunless %}
      {%- endfor -%}
    </ul>
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    <!--{% if site.paginate %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Précédente</a>
        {% endif %}

        <span class="page_number">Page: {{ paginator.page }} sur {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Suivante &raquo;</a>
        {% endif %}
      </div>
    {% endif %}-->
    <nav class="centered">
      <ul class="pagination">
        {% if paginator.total_pages > 1 %}
          {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
          {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li><span class="active">{{ page }}</span></li>
              {% elsif page == 1 %}
                <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url  }}">{{ page }}</a></li>
              {% else %}
                <li><a href="{{ page |  prepend: '/page/' | prepend: site.baseurl | prepend: site.url }}">{{ page }}</a></li>
              {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>

  {%- endif -%}


